data/raw/*
data/cleaned/*
*.hyper
*.twbx
*.tmp
!data/raw/.gitkeep
!data/cleaned/.gitkeep

__pycache__/
*.pyc
.ipynb_checkpoints/
python/_fetch_mci.py

tableau/

.DS_Store
Thumbs.db

project.md
readme_notes.md
.
data/raw/*
data/cleaned/*
!data/raw/.gitkeep
!data/cleaned/.gitkeep

__pycache__/
*.pyc
.ipynb_checkpoints/


*.hyper
*.twbx
*.tmp


.DS_Store
Thumbs.db


project.md
readme_notes.md
